html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  padding: 10px;
  max-width: 900px;
  background-color: black;
  color: white;
}

header {
  font-size: 30px;
  margin-top: 25px;
  text-align: center;
}

header h1 {
  margin: 5px;
}

a {
  text-decoration: none;
  color: rgb(252, 3, 111);
}

nav {
  text-align: center;
}

nav a {
  margin: 3px;
}

p {
  font-size: 17px;
}

.container h1 {
  font-size: 25px;
}

.projects img {
  width: 200px;
}

code {
  padding: 12px;
  overflow: auto;
  font-size: 95%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 5px;
}

/* .socials {
  padding-top: 10px;
} */

.socials-column {
  float: left;
  width: 50%;
}

.socials:after {
  content: "";
  display: table;
  clear: both;
}

.twitter-timeline {
  padding-top: 20px;
}

footer {
  margin-top: 25px;
}

@media only screen and (max-width: 800px) {
  body {
    max-width: 600px;
    margin: auto;
  }
  .socials-column {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    max-width: 400px;
    margin: auto;
  }
}