<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>Amri's website</title>
  {% endif %}
  <meta name="description" content="Amri Arshad's Personal Website">
  <meta name="author" content="Amri Arshad">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>

<body>
  <header>
    <h1 class="name-header">Amri Arshad</h1>
  </header>

  <nav>
    <a href="/">Home</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/links">Links</a>
    <a href="/blog/">Posts</a>
    <a href="/about">About</a>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  <footer>
    <div>
      <p> &#128064;</p>
      <a href="https://amri.dev" target="_blank" title="amri.dev">
        <img src="/images/button-dark.png" alt="amri.dev">
      </a>
      <a href="https://landchad.net" target="_blank" title="LandChad">
        <img src="https://landchad.net/pix/landchad.gif" alt="LandChad.net">
      </a>
      <a href="https://wiby.me" target="_blank" title="Wiby">
        <img src="https://wiby.me/about/wiby.gif" alt="Wiby.me">
      </a>
      <a href="https://sadgrl.online/" target="_blank" title="Sadgrl">
        <img src="https://sadgrlonline.github.io/archived-sadgrl.online/assets/images/buttons/sadgrlonline.gif" alt="sadgrl online">
      </a>
      <a href="https://eggramen.neocities.org" target="_blank" title="Eggramen">
        <img src="https://eggramen.neocities.org/link5.png" alt="Eggramen">
      </a>
      <a href="https://code.visualstudio.com/" target="_blank" title="Visual Studio Code">
        <img src="https://openbooks.neocities.org/img/codebutton.gif" alt="Visual Studio Code">
      </a>
      <a href="https://cyuucat.moe/" target="_blank" title="Cyuucat">
        <img src="https://cyuucat.moe/images/buttons/cyuu.gif" alt="Cyuucat">
      </a>
    </div>

    <br>
    <a href="https://github.com/AmriArshad">GitHub</a> |
    <a href="https://www.linkedin.com/in/amriarshad/">linkedIn</a> |
    <a href="mailto:amriarshad0@gmail.com">amriarshad0@gmail.com</a>
  </footer>

</body>

</html>