{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Hello World
</h1>

<p>Welcome to my domain. Here you will find my projects, interesting links, a few blog posts here and there, and some
  memes if I ever get around to posting them. One of the aims of this website is to be as minimal as possible, so don't
  expect to find anything too fancy. Ideally this site will become a place where I can fully express myself without
  censorship. It will also become a hub for me to store information and potentially share information with others.</p>

<p>That being said, I hope you enjoy your stay.</p>

<p>Note: This site is currently under construction</p>
{% endblock content %}