{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Hello World
</h1>

<p>Welcome to my domain. Here you will find my projects, interesting links, a few blog posts here and there, and some
  memes if I ever get around to posting them. One of the aims of this website is to be as minimal as possible, so don't
  expect to find anything too fancy. Ideally this site will become a place where I can fully express myself without
  censorship. It will also become a hub for me to store information and potentially share information with others.</p>

<p>Enjoy your stay.</p>

<hr />

<div class="socials">
  <h2>Socials</h2>
  <h3>Personal</h3>
  <ul>
    <li><a href="https://github.com/AmriArshad">GitHub</a></li>
    <li><a href="https://twitter.com/Amri__A">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/amriarshad/">Linkedin</a></li>
    <li><a href="https://oncyber.io/mel0n">OnCyber</a> - Virtual Showroom of my NFTs (Yes ik very controversial)</li>
    <li><a href="https://unstoppabledomains.com/d/themel0n.crypto">Crypto addresses</a></li>
  </ul>

  <h3>Holocryptic (Generative Art/Creative Coding)</h3>
  <ul>
    <li><a href="https://amri.dev/Holocryptic/">Website</a></li>
    <li><a href="https://twitter.com/holocrypt1c">Twitter</a></li>
    <li><a href="https://www.instagram.com/_Holocrypt1c">Instagram</a></li>
  </ul>
</div>

{% endblock content %}